
@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.banner{
	background: grey;
	font-size: 300%;
	padding: 5px 0;
}
.banner li{
	font-size: 20px;
}
#logo{
	width: 100px;
}
.menu{
	background: orange;
	padding:5px 0;
}
.menu li{
	font-size: 20px;
	border-right:2px solid white;
	padding:2px;
}
a {
    text-decoration: none;
    color:black;
}
a:hover{
	color: inherit;
}			
.cart{
	width: 100%;
}
#cart-area{
	padding:20px;
}
table{
	text-align: center;
	font-size: 20px;
}
th{
	text-align: center;
}
tbody tr:hover{
	 background: rgb(201,204,207);
}
.tname{
	background:orange;
	font-size: 20px;
	border: 1px solid grey;
	text-align: center;
}
.cartable{
	text-align: center;
	margin-bottom: 10px;
}
.cartable img{
	width:80px;
	height:70px;
	filter: drop-shadow(8px 8px 10px gray);
}
.prod:hover {
    text-decoration: none;
    color:black;
}
#amount{
	padding:2px;
}			

#amount table{
	text-align: center;
	font-size: 15px;
	color:black;
}
.total{
	background: rgb(30,150,90);
	font-size: 30px;
	border: 1px solid grey;
	text-align: right;
	padding:5px;
}
#paybtn{
	margin: 1px auto;
	text-align: center;
}
.footer{
	background: black;
	color:white;
	font-size:30px;
	padding:10px;
	text-align: center;
}
#footer-menu li a{
	color: white;
}
#footer-menu li a:hover{
	background: grey;
	color: black;
}
